@use "/src/variables";

.sawin-button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  background: variables.$bg-gradient-v;
  color: variables.$white !important;
}

.primary-button {
  color: white;
  background-color: #1ea7fd;
}

.secondary-button {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button-small {
  font-size: 12px;
  padding: 10px 16px;
}

.button-medium {
  font-size: 14px;
  padding: 11px 20px;
}

.cancel-button,
.button-large {
  font-size: 14px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  padding: 10px 25px;
  line-height: 22px;
}

.cancel-button {
  border: 1px solid #0074cc;
  background: #ffffff;
  color: #0074cc;
}
