@use '/src/variables';

.service-job {
    .service-job-heading-view {
        margin-top: 22px;
        margin-left: 16.33px;
    }

    .service-title {
        margin-left: 13.33px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: variables.$black;
        margin-top: 20px;
    }

    .left-icon {
        margin-top: 23px;
    }
}