$blue: #435BAA;
$white: #FFFFFF;
$black: #02101B;
$shadeGrey: #717171;
$lowGrey:  #999999;
$lightGrey: #F6F6F6;
$lightWhite: #f5f5f5;
$lightBlue: #F6F8FF;
$secondaryBlue: #5370D1;


$ghostWhite: #f9f9f9;
$grey: #D9D9D9;
$extremeLightGrey: #EEEEEE;
$grey91: #e8e8e8;
$aliceBlue: #FCFEFF;
$extremeAliceBlue: #F0F8FF;

$whiteSmoke: #EFEFEF;
$autumn: #bbbbbb;
$chestnut: #b94a48;
$secondary: #ddd;
$color2: #fff;
$color3: #EE3B33;
$color4: #F5FBFF;

$bg-gradient-v: linear-gradient(180deg, #142C7A 0%, #5370D1 100%);
$bg-gradient-no: linear-gradient(180deg, #142C7A 0%, #142C7A 100%);
$shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);